# Time Series

In [1]:
import numpy as np
import pandas as pd

In [2]:
from datetime import datetime
print(datetime(year=2015, month=7, day=4))

2015-07-04 00:00:00

In [3]:
from dateutil import parser
date = parser.parse("4th of July, 2015")
print(date)

2015-07-04 00:00:00

In [4]:
print(date.strftime('%A'))

Saturday

In [7]:
date = np.array('2018-02-25', dtype=np.datetime64)
print(date)

2018-02-25

In [8]:
print(date + np.arange(12))

['2018-02-25' '2018-02-26' '2018-02-27' '2018-02-28' '2018-03-01'
 '2018-03-02' '2018-03-03' '2018-03-04' '2018-03-05' '2018-03-06'
 '2018-03-07' '2018-03-08']

In [9]:
print(np.datetime64('2015-07-04'))

2015-07-04

In [10]:
print(np.datetime64('2015-07-04 12:00'))

2015-07-04T12:00

In [11]:
print(np.datetime64('2015-07-04 12:59:59.50', 'ns'))

2015-07-04T12:59:59.500000000

In [19]:
date = pd.to_datetime("25th of July, 2018")
print(date)

2018-07-25 00:00:00

In [20]:
print(date.strftime('%A'))

Wednesday

In [21]:
print(date + pd.to_timedelta(np.arange(12), 'D'))

DatetimeIndex(['2018-07-25', '2018-07-26', '2018-07-27', '2018-07-28',
               '2018-07-29', '2018-07-30', '2018-07-31', '2018-08-01',
               '2018-08-02', '2018-08-03', '2018-08-04', '2018-08-05'],
              dtype='datetime64[ns]', freq=None)

In [22]:
index = pd.DatetimeIndex(['2014-07-04', '2014-08-04', '2015-07-04', '2015-08-04'])
data = pd.Series([0, 1, 2, 3], index=index)
print(data)

2014-07-04    0
2014-08-04    1
2015-07-04    2
2015-08-04    3
dtype: int64

In [23]:
print(data['2014-07-04':'2015-07-04'])

2014-07-04    0
2014-08-04    1
2015-07-04    2
dtype: int64

In [24]:
print(data['2015'])

2015-07-04    2
2015-08-04    3
dtype: int64

In [25]:
dates = pd.to_datetime([datetime(2015, 7, 3), '4th of July, 2015', '2015-Jul-6', '07-07-2015', '20150708'])
print(dates)

DatetimeIndex(['2015-07-03', '2015-07-04', '2015-07-06', '2015-07-07',
               '2015-07-08'],
              dtype='datetime64[ns]', freq=None)

In [26]:
print(dates.to_period('D'))

PeriodIndex(['2015-07-03', '2015-07-04', '2015-07-06', '2015-07-07',
             '2015-07-08'],
            dtype='period[D]', freq='D')

In [27]:
print(dates - dates[0])

TimedeltaIndex(['0 days', '1 days', '3 days', '4 days', '5 days'], dtype='timedelta64[ns]', freq=None)

In [30]:
print(pd.date_range('2018-07-30', '2018-08-10'))

DatetimeIndex(['2018-07-30', '2018-07-31', '2018-08-01', '2018-08-02',
               '2018-08-03', '2018-08-04', '2018-08-05', '2018-08-06',
               '2018-08-07', '2018-08-08', '2018-08-09', '2018-08-10'],
              dtype='datetime64[ns]', freq='D')

In [31]:
print(pd.date_range('2015-07-03', periods=8))

DatetimeIndex(['2015-07-03', '2015-07-04', '2015-07-05', '2015-07-06',
               '2015-07-07', '2015-07-08', '2015-07-09', '2015-07-10'],
              dtype='datetime64[ns]', freq='D')

In [32]:
print(pd.date_range('2015-07-03', periods=8, freq='H'))

DatetimeIndex(['2015-07-03 00:00:00', '2015-07-03 01:00:00',
               '2015-07-03 02:00:00', '2015-07-03 03:00:00',
               '2015-07-03 04:00:00', '2015-07-03 05:00:00',
               '2015-07-03 06:00:00', '2015-07-03 07:00:00'],
              dtype='datetime64[ns]', freq='H')

In [33]:
print(pd.period_range('2015-07', periods=8, freq='M'))

PeriodIndex(['2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12',
             '2016-01', '2016-02'],
            dtype='period[M]', freq='M')

In [34]:
print(pd.timedelta_range(0, periods=10, freq='H'))

TimedeltaIndex(['00:00:00', '01:00:00', '02:00:00', '03:00:00', '04:00:00',
                '05:00:00', '06:00:00', '07:00:00', '08:00:00', '09:00:00'],
               dtype='timedelta64[ns]', freq='H')

In [35]:
print(pd.timedelta_range(0, periods=9, freq="2H30T"))

TimedeltaIndex(['00:00:00', '02:30:00', '05:00:00', '07:30:00', '10:00:00',
                '12:30:00', '15:00:00', '17:30:00', '20:00:00'],
               dtype='timedelta64[ns]', freq='150T')

In [36]:
from pandas.tseries.offsets import BDay
print(pd.date_range('2015-07-01', periods=5, freq=BDay()))

DatetimeIndex(['2015-07-01', '2015-07-02', '2015-07-03', '2015-07-06',
               '2015-07-07'],
              dtype='datetime64[ns]', freq='B')