# Strings

In [1]:
import numpy as np
import pandas as pd

In [3]:
x = np.array([2, 3, 5, 7, 11, 13])
print(x * 2)

[ 4  6 10 14 22 26]

In [5]:
data = ['peter', 'Paul', 'MARY', 'gUIDO']
print([s.capitalize() for s in data])

['Peter', 'Paul', 'Mary', 'Guido']

In [10]:
try:
    data = ['peter', 'Paul', None, 'MARY', 'gUIDO']
    [s.capitalize() for s in data]
except:
    print(False)

False

In [11]:
names = pd.Series(data)
print(names)

0    peter
1     Paul
2     None
3     MARY
4    gUIDO
dtype: object

In [12]:
print(names.str.capitalize())

0    Peter
1     Paul
2     None
3     Mary
4    Guido
dtype: object

In [14]:
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam', 'Eric Idle', 'Terry Jones', 'Michael Palin'])
print(monte)

0    Graham Chapman
1       John Cleese
2     Terry Gilliam
3         Eric Idle
4       Terry Jones
5     Michael Palin
dtype: object

In [15]:
print(monte.str.lower())

0    graham chapman
1       john cleese
2     terry gilliam
3         eric idle
4       terry jones
5     michael palin
dtype: object

In [16]:
print(monte.str.len())

0    14
1    11
2    13
3     9
4    11
5    13
dtype: int64

In [17]:
print(monte.str.startswith('T'))

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [18]:
print(monte.str.split())

0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object

In [19]:
print(monte.str.extract('([A-Za-z]+)', expand=False))

0     Graham
1       John
2      Terry
3       Eric
4      Terry
5    Michael
dtype: object

In [20]:
print(monte.str.findall(r'^[^AEIOU].*[^aeiou]$'))

0    [Graham Chapman]
1                  []
2     [Terry Gilliam]
3                  []
4       [Terry Jones]
5     [Michael Palin]
dtype: object

In [21]:
print(monte.str[0:3])

0    Gra
1    Joh
2    Ter
3    Eri
4    Ter
5    Mic
dtype: object

In [22]:
print(monte.str.split().str.get(-1))

0    Chapman
1     Cleese
2    Gilliam
3       Idle
4      Jones
5      Palin
dtype: object

In [24]:
full_monte = pd.DataFrame({'name': monte, 'info': ['B|C|D', 'B|D', 'A|C', 'B|D', 'B|C', 'B|C|D']})
full_monte

    info            name
0  B|C|D  Graham Chapman
1    B|D     John Cleese
2    A|C   Terry Gilliam
3    B|D       Eric Idle
4    B|C     Terry Jones
5  B|C|D   Michael Palin

In [25]:
full_monte['info'].str.get_dummies('|')

   A  B  C  D
0  0  1  1  1
1  0  1  0  1
2  1  0  1  0
3  0  1  0  1
4  0  1  1  0
5  0  1  1  1