# MultiIndex

In [1]:
import numpy as np
import pandas as pd

In [2]:
index = [('California', 2000), ('California', 2010), ('New York', 2000), ('New York', 2010), ('Texas', 2000), ('Texas', 2010)]
populations = [33871648, 37253956, 18976457, 19378102, 20851820, 25145561]
pop = pd.Series(populations, index=index)
print(pop)

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

In [3]:
print(pop[('California', 2010):('Texas', 2000)])

(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
dtype: int64

In [4]:
print(pop[[i for i in pop.index if i[1] == 2010]])

(California, 2010)    37253956
(New York, 2010)      19378102
(Texas, 2010)         25145561
dtype: int64

In [5]:
index = pd.MultiIndex.from_tuples(index)
print(index)

MultiIndex(levels=[['California', 'New York', 'Texas'], [2000, 2010]],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])

In [6]:
pop = pop.reindex(index)
print(pop)

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [7]:
print(pop[:, 2010])

California    37253956
New York      19378102
Texas         25145561
dtype: int64

### unstack()

* convert a multiply indexed Series into a conventionally indexed DataFrame

In [8]:
pop_df = pop.unstack()
print(pop_df)

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

### stack()

* convert a conventionally indexed DataFrame into a multiply indexed Series

In [9]:
print(pop_df.stack())

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [10]:
pop_df = pd.DataFrame({'total': pop, 'under18': [9267089, 9284094, 4687374, 4318033, 5906301, 6879014]})
print(pop_df)

                    total  under18
California 2000  33871648  9267089
           2010  37253956  9284094
New York   2000  18976457  4687374
           2010  19378102  4318033
Texas      2000  20851820  5906301
           2010  25145561  6879014

In [11]:
f_u18 = pop_df['under18'] / pop_df['total']
print(f_u18.unstack())

                2000      2010
California  0.273594  0.249211
New York    0.247010  0.222831
Texas       0.283251  0.273568

In [12]:
df = pd.DataFrame(np.random.rand(4, 2), index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]], columns=['data1', 'data2'])
print(df)

        data1     data2
a 1  0.730105  0.715810
  2  0.923476  0.572599
b 1  0.667734  0.585097
  2  0.988953  0.801589

In [13]:
data = {('California', 2000): 33871648, ('California', 2010): 37253956, ('Texas', 2000): 20851820, ('Texas', 2010): 25145561, ('New York', 2000): 18976457, ('New York', 2010): 19378102}
print(pd.Series(data))

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

### levels

* a list of lists containing available index values for each level

### labels

* a list of lists that reference these labels

In [14]:
print(pd.MultiIndex.from_arrays([['a', 'a', 'b', 'b'], [1, 2, 1, 2]]))

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [15]:
print(pd.MultiIndex.from_tuples([('a', 1), ('a', 2), ('b', 1), ('b', 2)]))

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [16]:
print(pd.MultiIndex.from_product([['a', 'b'], [1, 2]]))

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [17]:
print(pd.MultiIndex(levels=[['a', 'b'], [1, 2]], labels=[[0, 0, 1, 1], [0, 1, 0, 1]]))

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [18]:
pop.index.names = ['state', 'year']
print(pop)

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [19]:
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]], names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']], names=['subject', 'type'])

data = np.round(np.random.randn(4, 6), 1)
data[:, ::2] *= 10
data += 37

health_data = pd.DataFrame(data, index=index, columns=columns)
print(health_data)

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      40.0  36.1  31.0  36.0  45.0  36.7
     2      40.0  36.8  33.0  36.3  38.0  38.2
2014 1      42.0  36.1  26.0  37.2  46.0  38.3
     2      23.0  35.9  54.0  37.9  17.0  36.9

In [20]:
print(health_data['Guido'])

type          HR  Temp
year visit
2013 1      31.0  36.0
     2      33.0  36.3
2014 1      26.0  37.2
     2      54.0  37.9

In [21]:
print(pop)

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [23]:
print(pop['California'])

year
2000    33871648
2010    37253956
dtype: int64

In [22]:
print(pop['California', 2000])

33871648

In [24]:
print(pop.loc['California':'New York'])

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
dtype: int64

In [25]:
print(pop[:, 2000])

state
California    33871648
New York      18976457
Texas         20851820
dtype: int64

In [26]:
print(pop[pop > 22000000])

state       year
California  2000    33871648
            2010    37253956
Texas       2010    25145561
dtype: int64

In [27]:
print(pop[['California', 'Texas']])

state       year
California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
dtype: int64

In [28]:
print(health_data)

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      40.0  36.1  31.0  36.0  45.0  36.7
     2      40.0  36.8  33.0  36.3  38.0  38.2
2014 1      42.0  36.1  26.0  37.2  46.0  38.3
     2      23.0  35.9  54.0  37.9  17.0  36.9

In [29]:
print(health_data['Guido', 'HR'])

year  visit
2013  1        31.0
      2        33.0
2014  1        26.0
      2        54.0
Name: (Guido, HR), dtype: float64

In [30]:
print(health_data.iloc[:2, :2])

subject      Bob
type          HR  Temp
year visit
2013 1      40.0  36.1
     2      40.0  36.8

In [31]:
print(health_data.loc[:, ('Bob', 'HR')])

year  visit
2013  1        40.0
      2        40.0
2014  1        42.0
      2        23.0
Name: (Bob, HR), dtype: float64

In [36]:
idx = pd.IndexSlice
print(health_data.loc[idx[:, 1], idx[:, 'HR']])

subject      Bob Guido   Sue
type          HR    HR    HR
year visit
2013 1      40.0  31.0  45.0
2014 1      42.0  26.0  46.0

In [37]:
index = pd.MultiIndex.from_product([['a', 'c', 'b'], [1, 2]])
data = pd.Series(np.random.rand(6), index=index)
data.index.names = ['char', 'int']
print(data)

char  int
a     1      0.006151
      2      0.775128
c     1      0.787688
      2      0.693089
b     1      0.360430
      2      0.862498
dtype: float64

In [38]:
try:
    data['a':'b']
except:
    print(False)

False

In [39]:
data = data.sort_index()
print(data)

char  int
a     1      0.006151
      2      0.775128
b     1      0.360430
      2      0.862498
c     1      0.787688
      2      0.693089
dtype: float64

In [40]:
print(data['a':'b'])

char  int
a     1      0.006151
      2      0.775128
b     1      0.360430
      2      0.862498
dtype: float64

In [41]:
print(pop.unstack(level=0))

state  California  New York     Texas
year
2000     33871648  18976457  20851820
2010     37253956  19378102  25145561

In [42]:
print(pop.unstack(level=1))

year            2000      2010
state
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

In [43]:
print(pop.unstack().stack())

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [44]:
pop_flat = pop.reset_index(name='population')
print(pop_flat)

        state  year  population
0  California  2000    33871648
1  California  2010    37253956
2    New York  2000    18976457
3    New York  2010    19378102
4       Texas  2000    20851820
5       Texas  2010    25145561

In [45]:
print(pop_flat.set_index(['state', 'year']))

                 population
state      year
California 2000    33871648
           2010    37253956
New York   2000    18976457
           2010    19378102
Texas      2000    20851820
           2010    25145561

In [46]:
print(health_data)

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      40.0  36.1  31.0  36.0  45.0  36.7
     2      40.0  36.8  33.0  36.3  38.0  38.2
2014 1      42.0  36.1  26.0  37.2  46.0  38.3
     2      23.0  35.9  54.0  37.9  17.0  36.9

In [47]:
data_mean = health_data.mean(level='year')
print(data_mean)

subject   Bob        Guido          Sue
type       HR   Temp    HR   Temp    HR   Temp
year
2013     40.0  36.45  32.0  36.15  41.5  37.45
2014     32.5  36.00  40.0  37.55  31.5  37.60

In [48]:
print(data_mean.mean(axis=1, level='type'))

type         HR       Temp
year
2013  37.833333  36.683333
2014  34.666667  37.050000